ul.spot-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

ul.spot-list li {
  display: flex;
  flex-direction: column;
}

ul.spot-list li header {
  width: 100%;
  height: 12rem;
  background-size: cover;
  border-radius: 4px;
}

ul.spot-list li strong {
  margin-top: 1rem;
  font-size: 2.4rem;
  color: #444;
}

ul.spot-list li span {
  font-size: 1.5rem;
  color: #999;
}

ul.notifications {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

ul.notifications li {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

ul.notifications li button {
  margin-right: 1rem;
  border: 0;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

ul.notifications li button.accept {
  background-color: #84c870;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
}

ul.notifications li button.decline {
  background-color: #e55e5e;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
}
